<a href="https://colab.research.google.com/github/joaop-n12/Machine_Learning/blob/main/Regress%C3%A3o_Linear_Reconstru%C3%A7%C3%A3o_de_Informa%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import PolynomialFeatures
import scipy.stats as stats

df = pd.read_csv('/content/drive/MyDrive/FIAP/Machine Learning/atletas.csv')
del df['_tempo']
df

            Atleta  Altura   Peso    Sexo  Ano de nascimento  tempo
0          Adriano   190.0  120.0   homem             1987.0     22
1        Alexandre   170.0   62.0   homem                NaN     15
2          Antonio   180.0   78.0   homem             2002.0     16
3           Arthur   164.0   66.0   homem                NaN     14
4     Arthur Costa   173.0   76.0   homem             2005.0     24
5           Caique   180.0   60.0   homem             2002.0     11
6         Caroline   180.0   65.0  mulher             1997.0     20
7            Diogo   195.0   85.0   homem             1996.0     10
8          Eduardo   180.0   75.0   homem                NaN     16
9          Fabiano   174.0   94.0   homem             2002.0     10
10  Giovanna Pires   166.0   55.0  mulher             2002.0     12
11       Jaqueline   170.0   77.0  mulher             1986.0     19
12            John   180.0   87.0   homem             2001.0     20
13           Julia   162.0   59.0  mulher                NaN     14
14           Karen   160.0   75.0  mulher             1979.0     25
15  Lucas Loureiro   176.0   90.0   homem                NaN     25
16         Matheus   173.0   72.0   homem             2006.0     18
17         Nicolas   180.0   85.0   homem             2004.0     22
18           Pedro   180.0   80.0   homem             2005.0     12
19           Sofia   158.0   54.0  mulher             2005.0     17
20          Thomaz   175.0   65.0   homem                NaN     14
21         Janaína     NaN    NaN  mulher             1997.0     16
22  Giovana Cintra     NaN    NaN  mulher             2006.0     12
23   Lucas Arantes     NaN    NaN   homem             2004.0     20

In [ ]:
df1 = df.copy()
df1['dummy_gender'] = df.apply( lambda row: 1 if row['Sexo']=='homem' else 0 , axis=1)
filtered_df = df1[df1['Altura'].notnull() & df1['Peso'].notnull() & df1['Ano de nascimento'].notnull()]
filtered_df

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,dummy_gender
0,Adriano,190.0,120.0,homem,1987.0,22,1
2,Antonio,180.0,78.0,homem,2002.0,16,1
4,Arthur Costa,173.0,76.0,homem,2005.0,24,1
5,Caique,180.0,60.0,homem,2002.0,11,1
6,Caroline,180.0,65.0,mulher,1997.0,20,0
7,Diogo,195.0,85.0,homem,1996.0,10,1
9,Fabiano,174.0,94.0,homem,2002.0,10,1
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,0
12,John,180.0,87.0,homem,2001.0,20,1
14,Karen,160.0,75.0,mulher,1979.0,25,0
16,Matheus,173.0,72.0,homem,2006.0,18,1
17,Nicolas,180.0,85.0,homem,2004.0,22,1
18,Pedro,180.0,80.0,homem,2005.0,12,1
19,Sofia,158.0,54.0,mulher,2005.0,17,0

In [ ]:
x = filtered_df[['dummy_gender','Ano de nascimento','Peso','Altura']].to_numpy()
y = filtered_df['tempo'].to_numpy()
model = LinearRegression()
model.fit(x, y)
score = model.score(x, y).round(2)
print(score)

0.28

In [ ]:
filtered_df = df1[ (df1['Peso'].notnull()) & (df1['Altura'].notnull())& (df1['Ano de nascimento'].notnull())]
x = filtered_df[['dummy_gender','Altura','Peso']].to_numpy()
y = filtered_df['Ano de nascimento'].to_numpy()
model_ano = LinearRegression()
model_ano.fit(x, y)
model_ano.score(x, y).round(2)

0.64

In [ ]:
def completar_ano(row):
  if not pd.isna(row['Peso']) and not pd.isna(row['Altura']) and pd.isna(row['Ano de nascimento']):
    campos = row[['dummy_gender','Altura','Peso']]
    return round(model_ano.predict([campos])[0])
  return row['Ano de nascimento']
df1['novo_ano'] = df1.apply(completar_ano, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,dummy_gender,novo_ano
0,Adriano,190.0,120.0,homem,1987.0,22,1,1987.0
1,Alexandre,170.0,62.0,homem,NaN,15,1,2010.0
2,Antonio,180.0,78.0,homem,2002.0,16,1,2002.0
3,Arthur,164.0,66.0,homem,NaN,14,1,2009.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,1,2005.0
5,Caique,180.0,60.0,homem,2002.0,11,1,2002.0
6,Caroline,180.0,65.0,mulher,1997.0,20,0,1997.0
7,Diogo,195.0,85.0,homem,1996.0,10,1,1996.0
8,Eduardo,180.0,75.0,homem,NaN,16,1,2004.0
9,Fabiano,174.0,94.0,homem,2002.0,10,1,2002.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,0,2002.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,0,1986.0
12,John,180.0,87.0,homem,2001.0,20,1,2001.0
13,Julia,162.0,59.0,mulher,NaN,14,0,1997.0
14,Karen,160.0,75.0,mulher,1979.0,25,0,1979.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,1,1999.0
16,Matheus,173.0,72.0,homem,2006.0,18,1,2006.0
17,Nicolas,180.0,85.0,homem,2004.0,22,1,2004.0
18,Pedro,180.0,80.0,homem,2005.0,12,1,2005.0
19,Sofia,158.0,54.0,mulher,2005.0,17,0,2005.0
20,Thomaz,175.0,65.0,homem,NaN,14,1,2009.0
21,Janaína,NaN,NaN,mulher,1997.0,16,0,1997.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,0,2006.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,1,2004.0

In [ ]:
filtered_df = df1[(df1['Peso'].notnull()) & (df1['Altura'].notnull())& (df1['Ano de nascimento'].notnull())]
x = filtered_df[['dummy_gender','Ano de nascimento']].to_numpy()
y = filtered_df['Peso'].to_numpy()
model_peso = LinearRegression()
model_peso.fit(x, y)
model_peso.score(x, y).round(2)

0.69

In [ ]:
filtered_df = df1[(df1['Peso'].notnull()) & (df1['Altura'].notnull())& (df1['Ano de nascimento'].notnull())]
x = filtered_df[['dummy_gender','Ano de nascimento']].to_numpy()
y = filtered_df['Altura'].to_numpy()
model_altura = LinearRegression()
model_altura.fit(x, y)
model_altura.score(x, y).round(2)

0.52

In [ ]:
def completar_peso(row):
  if pd.isna(row['Peso']) and not pd.isna(row['Ano de nascimento']):
    campos = row[['dummy_gender','Ano de nascimento']]
    return round(model_peso.predict([campos])[0])
  return row['Peso']

df1['novo_peso'] = df1.apply(completar_peso, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,dummy_gender,novo_ano,novo_peso
0,Adriano,190.0,120.0,homem,1987.0,22,1,1987.0,120.0
1,Alexandre,170.0,62.0,homem,NaN,15,1,2010.0,62.0
2,Antonio,180.0,78.0,homem,2002.0,16,1,2002.0,78.0
3,Arthur,164.0,66.0,homem,NaN,14,1,2009.0,66.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,1,2005.0,76.0
5,Caique,180.0,60.0,homem,2002.0,11,1,2002.0,60.0
6,Caroline,180.0,65.0,mulher,1997.0,20,0,1997.0,65.0
7,Diogo,195.0,85.0,homem,1996.0,10,1,1996.0,85.0
8,Eduardo,180.0,75.0,homem,NaN,16,1,2004.0,75.0
9,Fabiano,174.0,94.0,homem,2002.0,10,1,2002.0,94.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,0,2002.0,55.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,0,1986.0,77.0
12,John,180.0,87.0,homem,2001.0,20,1,2001.0,87.0
13,Julia,162.0,59.0,mulher,NaN,14,0,1997.0,59.0
14,Karen,160.0,75.0,mulher,1979.0,25,0,1979.0,75.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,1,1999.0,90.0
16,Matheus,173.0,72.0,homem,2006.0,18,1,2006.0,72.0
17,Nicolas,180.0,85.0,homem,2004.0,22,1,2004.0,85.0
18,Pedro,180.0,80.0,homem,2005.0,12,1,2005.0,80.0
19,Sofia,158.0,54.0,mulher,2005.0,17,0,2005.0,54.0
20,Thomaz,175.0,65.0,homem,NaN,14,1,2009.0,65.0
21,Janaína,NaN,NaN,mulher,1997.0,16,0,1997.0,61.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,0,2006.0,48.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,1,2004.0,80.0

In [ ]:
def completar_altura(row):
  if pd.isna(row['Altura']) and not pd.isna(row['Ano de nascimento']):
    campos = row[['dummy_gender','Ano de nascimento']]
    return round(model_altura.predict([campos])[0])
  return row['Altura']

df1['nova_altura'] = df1.apply(completar_altura, axis=1)
df1

,Atleta,Altura,Peso,Sexo,Ano de nascimento,tempo,dummy_gender,novo_ano,novo_peso,nova_altura
0,Adriano,190.0,120.0,homem,1987.0,22,1,1987.0,120.0,190.0
1,Alexandre,170.0,62.0,homem,NaN,15,1,2010.0,62.0,170.0
2,Antonio,180.0,78.0,homem,2002.0,16,1,2002.0,78.0,180.0
3,Arthur,164.0,66.0,homem,NaN,14,1,2009.0,66.0,164.0
4,Arthur Costa,173.0,76.0,homem,2005.0,24,1,2005.0,76.0,173.0
5,Caique,180.0,60.0,homem,2002.0,11,1,2002.0,60.0,180.0
6,Caroline,180.0,65.0,mulher,1997.0,20,0,1997.0,65.0,180.0
7,Diogo,195.0,85.0,homem,1996.0,10,1,1996.0,85.0,195.0
8,Eduardo,180.0,75.0,homem,NaN,16,1,2004.0,75.0,180.0
9,Fabiano,174.0,94.0,homem,2002.0,10,1,2002.0,94.0,174.0
10,Giovanna Pires,166.0,55.0,mulher,2002.0,12,0,2002.0,55.0,166.0
11,Jaqueline,170.0,77.0,mulher,1986.0,19,0,1986.0,77.0,170.0
12,John,180.0,87.0,homem,2001.0,20,1,2001.0,87.0,180.0
13,Julia,162.0,59.0,mulher,NaN,14,0,1997.0,59.0,162.0
14,Karen,160.0,75.0,mulher,1979.0,25,0,1979.0,75.0,160.0
15,Lucas Loureiro,176.0,90.0,homem,NaN,25,1,1999.0,90.0,176.0
16,Matheus,173.0,72.0,homem,2006.0,18,1,2006.0,72.0,173.0
17,Nicolas,180.0,85.0,homem,2004.0,22,1,2004.0,85.0,180.0
18,Pedro,180.0,80.0,homem,2005.0,12,1,2005.0,80.0,180.0
19,Sofia,158.0,54.0,mulher,2005.0,17,0,2005.0,54.0,158.0
20,Thomaz,175.0,65.0,homem,NaN,14,1,2009.0,65.0,175.0
21,Janaína,NaN,NaN,mulher,1997.0,16,0,1997.0,61.0,166.0
22,Giovana Cintra,NaN,NaN,mulher,2006.0,12,0,2006.0,48.0,163.0
23,Lucas Arantes,NaN,NaN,homem,2004.0,20,1,2004.0,80.0,179.0

In [ ]:
filtered_df = df1[(df1['tempo'].notnull()) & (df1['novo_ano'].notnull()) & (df1['novo_peso'].notnull()) & (df1['nova_altura'].notnull()) ]
x = filtered_df[['dummy_gender','novo_ano','novo_peso','nova_altura']].to_numpy()
y = filtered_df['tempo'].to_numpy()
model = LinearRegression()
model.fit(x, y)
model.score(x, y).round(2)

0.31